{% extends "base.html" %}
{% load custom_filters %}

{% block title %}Отзывы Об Играх - PLAYSTATION и XBOX в Мурманске{% endblock %}

{% block content %}
    <p></p>
    <div id="myGrid" style="display:none;">
       <div style="position:fixed;width:100%;text-align:center;padding-top:250px;"></div>
    </div>
    <div id="allEntries">

        {% for publ in publ_list %}
        <div>
            <table border="0" cellpadding="0" cellspacing="0" width="100%" class="eBlock"><tbody><tr><td style="padding:3px;">

            <div class="eTitle" style="text-align:left;"><a href="{% url 'publ_detail' publ.id %}">{{ publ.title }}</a></div>

            <div class="eMessage" style="text-align:left;clear:both;padding-top:2px;padding-bottom:2px;">


            {{ publ.short_content|strip_p_tags_for_news_list|safe }}
            <a href="{% url 'publ_detail' publ.id %}">Читать статью полностью &gt;&gt;&gt;</a>

            </div>
            <div class="eDetails" style="clear:both;">

            Просмотров: {{ publ.views }} |
            Добавил: <a href="">{{ publ.author }}</a> |
            Дата: <span title="19:11">{{ publ.created_at|date:"d-m-Y" }}</span>

            | <a href="{% url 'publ_detail' publ.id %}">Комментарии ({{ publ.comments_count }})</a>
            </div></td></tr></tbody></table><br></div>
    {% endfor %}

        {% include "pagination.html" %}
    </div>

{% endblock %}