{% extends "index.html" %}
{% load static %}
{% block center %}
<div id="centerBlock1">
    <!-- Body -->
    <table border="0" cellpadding="0" height="30" cellspacing="0" width="1000px" align="center">
        <tbody>
            <tr>
                <td valign="top" style="padding: 0px 5px 0px 5px;">
                    <h1>404 - Страница не найдена</h1>
                    <p>Извините, но запрашиваемая страница не существует.</p>
                    <a href="/">Вернуться на главную</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

{% endblock %}