{% load static %}
<html>
   <head>
      <link rel="stylesheet" type="text/css" href="{% static 'css/banner-styles.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'css/iconochive.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'css/layer3.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'css/my.css' %}">
      <title>{% block title %}{% endblock %}</title>
   </head>
   <body>
      <div id="contanier">
         <div id="topBlock">
            <table border="0" cellpadding="0" cellspacing="0" id="topTable" align="center">
               <tbody>
                  <tr>
                     <td class="dataBar"></td>
                  </tr>
                  <tr>
                     <td>
                        <div class="logoBar">
                           <a href="20110828124907/http://play-murmansk.ru/">
                           <img src="{% static 'images/1px.gif' %}" width="1000" height="150" border="0" title="Содружество пользователей игровых консолей" alt="Содружество пользователей игровых консолей"></a>
                        </div>
                     </td>
                  </tr>
                  <!-- -->
                  <tr>
                     <td class="navBar">
                        <style>
                           /* common styling */
                           .menu {font: "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, arial, sans-serif; width:975px; height:29px; position:relative; font-size:11px; font-weight:bold; z-index:100;}
                           .menu ul li a, .menu ul li a:visited {display:block; text-decoration:none; color:#000; width:161px; height:27px; text-align:center; color:#ccc;
                           border-left:0px solid #000;
                           border-right:0px solid #000;
                           border-bottom:3px solid #BF3A00;
                           background:none; line-height:25px; font-size:11px; overflow:hidden;}
                           .menu ul {padding:0; margin:0; list-style: none;}
                           .menu ul li {float:left; position:relative;}
                           .menu ul li ul {display: none;}
                           /* specific to non IE browsers */
                           .menu ul li:hover a {color:#fff; background:#BF3A00;}
                           .menu ul li:hover ul {display:block; position:absolute; top:30px; left:0; width:160px;}
                           .menu ul li:hover ul li a.hide {background:#6a3; color:#fff;}
                           .menu ul li:hover ul li:hover a.hide {background:#6fc; color:#000;}
                           .menu ul li:hover ul li ul {display: none;}
                           .menu ul li:hover ul li a {display:block; background:#ddd; color:#000;}
                           .menu ul li:hover ul li a:hover {background:#BF3A00; color:#000;}
                           .menu ul li:hover ul li:hover ul {display:block; position:absolute; left:105px; top:0;}
                           .menu ul li:hover ul li:hover ul.left {left:-105px;}
                        </style>
                        <div align="center">
                           <div class="menu">
                              <ul>
                                 <li><a href="20110828124907/http://play-murmansk.ru/" target="_self">Главная</a></li>
                                 <li><a href="/web/20110828124907/http://play-murmansk.ru/forum/" target="_self">Форум</a></li>
                                 <li><a href="/web/20110828124907/http://play-murmansk.ru/board/" target="_self">Объявления</a></li>
                                 <li><a href="/web/20110828124907/http://play-murmansk.ru/blog/" target="_self">Отзывы Об Играх</a></li>
                                 <li>
                                    <a>Кое-что Еще...</a>
                                    <ul>
                                       <li><a href="/web/20110828124907/http://play-murmansk.ru/photo/" target="_self">Фотоальбом</a></li>
                                       <li><a href="/web/20110828124907/http://play-murmansk.ru/dir/" target="_self">Полезные Ссылки</a></li>
                                       <li><a href="/web/20110828124907/http://play-murmansk.ru/publ/" target="_self">Полезные Статьи</a></li>
                                       <li><a href="20110828124907/http://play-murmansk.ru/news/rss/">RSS раздела</a></li>
                                    </ul>
                                 </li>
                                 <li><a href="20110828124907/http://play-murmansk.ru/index/3">Регистрация</a></li>
                              </ul>
                           </div>
                        </div>
                     </td>
                  </tr>
                  <!--
                     -->
               </tbody>
            </table>
            <!--/U1AHEADER1Z-->
            <!-- /Header -->
         </div>
         <div id="centerBlock1">
            <!-- Body -->
            <table border="0" cellpadding="0" cellspacing="0" width="1000px" align="center">
               <tbody>
                  <tr>
                     <td valign="top" class="column">
                        <!--U1CLEFTER1Z--><!-- <block10> -->
                        <table border="0" cellpadding="0" cellspacing="0" class="boxTable"></table>
                        <table border="0" cellpadding="0" cellspacing="0" class="boxTable">
                           <tbody>
                              <tr>
                                 <td class="boxTitle"><b>Добро пожаловать!</b></td>
                              </tr>
                              <tr>
                                 <td class="boxContent">
                                    <div class="boxText">
                                       <!-- <bc> -->
                                       <div id="blk549174" style="border:1px solid #CCCCCC;position:absolute;z-index:82;background:url('20110828124907im_/http://s28.ucoz.net/img/fr/g.gif');display:none;"></div>
                                       <form id="frmLg549174" action="/web/20110828124907/http://play-murmansk.ru/index/sub/" method="post" style="margin:0" onsubmit="sendFrm549174();return false;">
                                          <table border="0" cellspacing="1" cellpadding="0" width="100%">
                                             <tbody>
                                                <tr>
                                                   <td width="20%" nowrap="nowrap">Логин:</td>
                                                   <td><input class="loginField" type="text" name="user" value="" size="20" style="width:100%;" maxlength="50"></td>
                                                </tr>
                                                <tr>
                                                   <td>Пароль:</td>
                                                   <td><input class="loginField" type="password" name="password" size="20" style="width:100%" maxlength="15"></td>
                                                </tr>
                                             </tbody>
                                          </table>
                                          <table border="0" cellspacing="1" cellpadding="0" width="100%">
                                             <tbody>
                                                <tr>
                                                   <td nowrap=""><input id="remsitePage1" type="checkbox" name="rem" value="1" checked=""><label for="remsitePage1">запомнить</label> </td>
                                                   <td align="right" valign="top"><input class="loginButton" name="sbm" type="submit" value="Вход"></td>
                                                </tr>
                                                <tr>
                                                   <td colspan="2">
                                                      <div style="font-size:7pt;text-align:center;"><a class="m" href="javascript://" rel="nofollow" onclick="new _uWnd('Prm','Напоминание пароля',300,130,{autosize:1,closeonesc:1},{url:'/index/5'});return false;">Забыл пароль</a> · <a class="m" href="20110828124907/http://play-murmansk.ru/index/3">Регистрация</a></div>
                                                   </td>
                                                </tr>
                                             </tbody>
                                          </table>
                                          <input type="hidden" name="a" value="2"><input type="hidden" name="ajax" value="1"><input type="hidden" name="rnd" value="174">
                                       </form>
                                       <!-- </bc> -->
                                    </div>
                                 </td>
                              </tr>
                           </tbody>
                        </table>
                        <table border="0" cellpadding="0" cellspacing="0" class="boxTable">
                           <tbody>
                              <tr>
                                 <td class="boxTitle">
                                    <b>Эй, Кто Здесь?</b>
                                 </td>
                              </tr>
                              <tr>
                                 <td class="boxContent" align="center">
                                    <div class="boxText">
                                       <div class="tOnline" id="onl1">Сейчас на сайте <b>9</b></div>
                                       <div class="gOnline" id="onl2">Гостей <b>2</b></div>
                                       <div class="uOnline" id="onl3">Участников <b>7</b></div>
                                       <a class="groupUser" href="20110828124907/http://play-murmansk.ru/index/8-1127" target="_blank">death</a>, <a class="groupUser" href="20110828124907/http://play-murmansk.ru/index/8-2908" target="_blank">play4</a>, <a class="groupUser" href="20110828124907/http://play-murmansk.ru/index/8-3131" target="_blank">KINGpunk</a>, <a class="groupOther2" href="20110828124907/http://play-murmansk.ru/index/8-41" target="_blank">U1</a>, <a class="groupVerify" href="20110828124907/http://play-murmansk.ru/index/8-2460" target="_blank">misterdonald</a>, <a class="groupUser" href="20110828124907/http://play-murmansk.ru/index/8-2478" target="_blank">look</a>, <a class="groupOther2" href="20110828124907/http://play-murmansk.ru/index/8-2405" target="_blank">Adskiy</a>
                                    </div>
                                 </td>
                              </tr>
                           </tbody>
                        </table>
                        <table border="0" cellpadding="0" cellspacing="0" class="boxTable">
                           <tbody>
                              <tr></tr>
                              <tr>
                                 <td class="boxContent">
                                    <div class="boxText">
                                       <a href="20110828124907/http://play-murmansk.ru/forum/5-312-1"><img src="20110828124907im_/http://s003.radikal.ru/i204/1103/8f/94dd586744e5.gif" border="none" width="200"></a><br>
                                       <br>
                                       <a href="20110828124907/http://play-murmansk.ru/index/0-9"><img src="20110828124907im_/http://s001.radikal.ru/i193/1005/3d/a8bfcefc8e87.jpg" border="none" width="200"></a>
                                       <br>
                                    </div>
                                 </td>
                              </tr>
                           </tbody>
                        </table>
                        <table border="0" cellpadding="0" cellspacing="0" class="boxTable">
                           <tbody>
                              <tr>
                                 <td class="boxTitle"><b>Последние Темы Форума</b></td>
                              </tr>
                              <tr>
                                 <td class="boxContent">
                                    <div class="boxText">
                                       <ul class="uz">
                                          <li class="menus1">
                                             <div align="left"> <span style="font-size: 8pt" ;="">  <a class="ma" href="/web/20110828124907/http://play-murmansk.ru/forum/25-330-0-17">iPhone &amp; Android Apps</a> </span> <br> <span style="font-size: 7pt" ;=""> 28-08-2011 14:06 от <a class="uLPost" href="/web/20110828124907/http://play-murmansk.ru/index/8-0-%28o%29ne" target="_blank">(o)ne</a> </span> </div>
                                          </li>
                                       </ul>
                                       <ul class="uz">
                                          <li class="menus1">
                                             <div align="left"> <span style="font-size: 8pt" ;="">  <a class="ma" href="/web/20110828124907/http://play-murmansk.ru/forum/14-115-0-17">Всякая Всячина</a> </span> <br> <span style="font-size: 7pt" ;=""> 28-08-2011 13:27 от <a class="uLPost" href="/web/20110828124907/http://play-murmansk.ru/index/8-0-romanii" target="_blank">romanii</a> </span> </div>
                                          </li>
                                       </ul>
                                       <ul class="uz">
                                          <li class="menus1">
                                             <div align="left"> <span style="font-size: 8pt" ;="">  <a class="ma" href="/web/20110828124907/http://play-murmansk.ru/forum/14-40-0-17">Встречи оффлайн</a> </span> <br> <span style="font-size: 7pt" ;=""> 27-08-2011 23:23 от <a class="uLPost" href="/web/20110828124907/http://play-murmansk.ru/index/8-0-Kart" target="_blank">Kart</a> </span> </div>
                                          </li>
                                       </ul>
                                       <ul class="uz">
                                          <li class="menus1">
                                             <div align="left"> <span style="font-size: 8pt" ;="">  <a class="ma" href="/web/20110828124907/http://play-murmansk.ru/forum/5-275-0-17">Отдел "Артерия"</a> </span> <br> <span style="font-size: 7pt" ;=""> 27-08-2011 23:04 от <a class="uLPost" href="/web/20110828124907/http://play-murmansk.ru/index/8-0-arteria" target="_blank">arteria</a> </span> </div>
                                          </li>
                                       </ul>
                                       <ul class="uz">
                                          <li class="menus1">
                                             <div align="left"> <span style="font-size: 8pt" ;="">  <a class="ma" href="/web/20110828124907/http://play-murmansk.ru/forum/13-133-0-17">Gears of War 1, 2... и 3</a> </span> <br> <span style="font-size: 7pt" ;=""> 27-08-2011 12:02 от <a class="uLPost" href="/web/20110828124907/http://play-murmansk.ru/index/8-0-grom51" target="_blank">grom51</a> </span> </div>
                                          </li>
                                       </ul>
                                       <ul class="uz">
                                          <li class="menus1">
                                             <div align="left"> <span style="font-size: 8pt" ;="">  <a class="ma" href="/web/20110828124907/http://play-murmansk.ru/forum/5-32-0-17">Магазин "Игроман"</a> </span> <br> <span style="font-size: 7pt" ;=""> 26-08-2011 21:03 от <a class="uLPost" href="/web/20110828124907/http://play-murmansk.ru/index/8-0-Chujezemka777" target="_blank">Chujezemka777</a> </span> </div>
                                          </li>
                                       </ul>
                                       <ul class="uz">
                                          <li class="menus1">
                                             <div align="left"> <span style="font-size: 8pt" ;="">  <a class="ma" href="/web/20110828124907/http://play-murmansk.ru/forum/2-309-0-17">Ninja Gaiden 3</a> </span> <br> <span style="font-size: 7pt" ;=""> 26-08-2011 16:33 от <a class="uLPost" href="/web/20110828124907/http://play-murmansk.ru/index/8-0-%28o%29ne" target="_blank">(o)ne</a> </span> </div>
                                          </li>
                                       </ul>
                                       <ul class="uz">
                                          <li class="menus1">
                                             <div align="left"> <span style="font-size: 8pt" ;="">  <a class="ma" href="/web/20110828124907/http://play-murmansk.ru/forum/2-262-0-17">Bodycount</a> </span> <br> <span style="font-size: 7pt" ;=""> 26-08-2011 16:28 от <a class="uLPost" href="/web/20110828124907/http://play-murmansk.ru/index/8-0-%28o%29ne" target="_blank">(o)ne</a> </span> </div>
                                          </li>
                                       </ul>
                                       <ul class="uz">
                                          <li class="menus1">
                                             <div align="left"> <span style="font-size: 8pt" ;="">  <a class="ma" href="/web/20110828124907/http://play-murmansk.ru/forum/19-120-0-17">Uncharted 1, 2, 3...</a> </span> <br> <span style="font-size: 7pt" ;=""> 26-08-2011 13:13 от <a class="uLPost" href="/web/20110828124907/http://play-murmansk.ru/index/8-0-%28o%29ne" target="_blank">(o)ne</a> </span> </div>
                                          </li>
                                       </ul>
                                       <ul class="uz">
                                          <li class="menus1">
                                             <div align="left"> <span style="font-size: 8pt" ;="">  <a class="ma" href="/web/20110828124907/http://play-murmansk.ru/forum/19-263-0-17">Twisted Metal (2011)</a> </span> <br> <span style="font-size: 7pt" ;=""> 26-08-2011 12:39 от <a class="uLPost" href="/web/20110828124907/http://play-murmansk.ru/index/8-0-play" target="_blank">play</a> </span> </div>
                                          </li>
                                       </ul>
                                       <ul class="uz">
                                          <li class="menus1">
                                             <div align="left"> <span style="font-size: 8pt" ;="">  <a class="ma" href="/web/20110828124907/http://play-murmansk.ru/forum/7-33-0-17">Продвижение</a> </span> <br> <span style="font-size: 7pt" ;=""> 26-08-2011 09:48 от <a class="uLPost" href="/web/20110828124907/http://play-murmansk.ru/index/8-0-SerialKillah" target="_blank">SerialKillah</a> </span> </div>
                                          </li>
                                       </ul>
                                       <ul class="uz">
                                          <li class="menus1">
                                             <div align="left"> <span style="font-size: 8pt" ;="">  <a class="ma" href="/web/20110828124907/http://play-murmansk.ru/forum/2-277-0-17">Batman: Arkham City</a> </span> <br> <span style="font-size: 7pt" ;=""> 26-08-2011 09:03 от <a class="uLPost" href="/web/20110828124907/http://play-murmansk.ru/index/8-0-yoji" target="_blank">yoji</a> </span> </div>
                                          </li>
                                       </ul>
                                       <ul class="uz">
                                          <li class="menus1">
                                             <div align="left"> <span style="font-size: 8pt" ;="">  <a class="ma" href="/web/20110828124907/http://play-murmansk.ru/forum/7-118-0-17">Музыка на сайте</a> </span> <br> <span style="font-size: 7pt" ;=""> 25-08-2011 23:15 от <a class="uLPost" href="/web/20110828124907/http://play-murmansk.ru/index/8-0-play" target="_blank">play</a> </span> </div>
                                          </li>
                                       </ul>
                                       <ul class="uz">
                                          <li class="menus1">
                                             <div align="left"> <span style="font-size: 8pt" ;="">  <a class="ma" href="/web/20110828124907/http://play-murmansk.ru/forum/2-162-0-17">TRINE</a> </span> <br> <span style="font-size: 7pt" ;=""> 25-08-2011 21:59 от <a class="uLPost" href="/web/20110828124907/http://play-murmansk.ru/index/8-0-play" target="_blank">play</a> </span> </div>
                                          </li>
                                       </ul>
                                       <ul class="uz">
                                          <li class="menus1">
                                             <div align="left"> <span style="font-size: 8pt" ;="">  <a class="ma" href="/web/20110828124907/http://play-murmansk.ru/forum/13-70-0-17">Forza Motorsport 3, 4...</a> </span> <br> <span style="font-size: 7pt" ;=""> 25-08-2011 21:32 от <a class="uLPost" href="/web/20110828124907/http://play-murmansk.ru/index/8-0-play" target="_blank">play</a> </span> </div>
                                          </li>
                                       </ul>
                                       <ul class="uz">
                                          <li class="menus1">
                                             <div align="left"> <span style="font-size: 8pt" ;="">  <a class="ma" href="/web/20110828124907/http://play-murmansk.ru/forum/14-53-0-17">Фото наших "уголков геймера"</a> </span> <br> <span style="font-size: 7pt" ;=""> 25-08-2011 10:56 от <a class="uLPost" href="/web/20110828124907/http://play-murmansk.ru/index/8-0-SerialKillah" target="_blank">SerialKillah</a> </span> </div>
                                          </li>
                                       </ul>
                                       <ul class="uz">
                                          <li class="menus1">
                                             <div align="left"> <span style="font-size: 8pt" ;="">  <a class="ma" href="/web/20110828124907/http://play-murmansk.ru/forum/3-250-0-17">3D</a> </span> <br> <span style="font-size: 7pt" ;=""> 24-08-2011 22:31 от <a class="uLPost" href="/web/20110828124907/http://play-murmansk.ru/index/8-0-DevilYamamoto" target="_blank">DevilYamamoto</a> </span> </div>
                                          </li>
                                       </ul>
                                       <ul class="uz">
                                          <li class="menus1">
                                             <div align="left"> <span style="font-size: 8pt" ;="">  <a class="ma" href="/web/20110828124907/http://play-murmansk.ru/forum/2-145-0-17">Final Fantasy XIII</a> </span> <br> <span style="font-size: 7pt" ;=""> 24-08-2011 20:02 от <a class="uLPost" href="/web/20110828124907/http://play-murmansk.ru/index/8-0-Roons" target="_blank">Roons</a> </span> </div>
                                          </li>
                                       </ul>
                                       <ul class="uz">
                                          <li class="menus1">
                                             <div align="left"> <span style="font-size: 8pt" ;="">  <a class="ma" href="/web/20110828124907/http://play-murmansk.ru/forum/19-39-0-17">Little Big Planet 1, 2...</a> </span> <br> <span style="font-size: 7pt" ;=""> 24-08-2011 10:17 от <a class="uLPost" href="/web/20110828124907/http://play-murmansk.ru/index/8-0-%28o%29ne" target="_blank">(o)ne</a> </span> </div>
                                          </li>
                                       </ul>
                                       <ul class="uz">
                                          <li class="menus1">
                                             <div align="left"> <span style="font-size: 8pt" ;="">  <a class="ma" href="/web/20110828124907/http://play-murmansk.ru/forum/3-73-0-17">Технический вопрос по игре on line</a> </span> <br> <span style="font-size: 7pt" ;=""> 24-08-2011 00:53 от <a class="uLPost" href="/web/20110828124907/http://play-murmansk.ru/index/8-0-%28o%29ne" target="_blank">(o)ne</a> </span> </div>
                                          </li>
                                       </ul>
                                    </div>
                                    <div align="center"><a class="m" href="20110828124907/http://play-murmansk.ru/forum/0-0-1-34"><span style="color:#CC6600">[Последние Темы Форума]</span></a></div>
                                 </td>
                              </tr>
                           </tbody>
                        </table>
                        <table border="0" cellpadding="0" cellspacing="0" class="boxTable">
                           <tbody>
                              <tr>
                                 <td class="boxTitle"><b>Ждем и Верим</b></td>
                              </tr>
                              <tr>
                                 <td class="boxContent">
                                    <div class="boxText" align="center"><img src="20110828124907im_/http://s59.radikal.ru/i165/1105/31/d4de32798b70.jpg"><br><br><b><span style="color:#CC6600">Call of Duty: Modern Warfare 3</span></b><br>8 ноября 2011 </div>
                                 </td>
                              </tr>
                           </tbody>
                        </table>
                        <table border="0" cellpadding="0" cellspacing="0" class="boxTable">
                           <tbody>
                              <tr>
                                 <td class="boxTitle"><b>Последние Комментарии</b></td>
                              </tr>
                              <tr>
                                 <td class="boxContent">
                                    <div class="boxText">
                                       <ul class="uz">
                                          <li class="menus1">
                                             <div align="left"> <span style="font-size: 8pt" ;=""> <a class="ma" href="/web/20110828124907/http://play-murmansk.ru/board/2-1-0-4068">КуплЮ PSP 2008</a> </span> <br> <span style="font-size: 7pt" ;=""> 28-08-2011 15:00 от Makson4uk </span> </div>
                                          </li>
                                       </ul>
                                       <ul class="uz">
                                          <li class="menus1">
                                             <div align="left"> <span style="font-size: 8pt" ;=""> <a class="ma" href="/web/20110828124907/http://play-murmansk.ru/board/2-1-0-4065">psp</a> </span> <br> <span style="font-size: 7pt" ;=""> 28-08-2011 14:59 от Makson4uk </span> </div>
                                          </li>
                                       </ul>
                                       <ul class="uz">
                                          <li class="menus1">
                                             <div align="left"> <span style="font-size: 8pt" ;=""> <a class="ma" href="/web/20110828124907/http://play-murmansk.ru/board/5-1-0-4251">Прошивка Xbox 360 Slim</a> </span> <br> <span style="font-size: 7pt" ;=""> 28-08-2011 11:39 от laris </span> </div>
                                          </li>
                                       </ul>
                                       <ul class="uz">
                                          <li class="menus1">
                                             <div align="left"> <span style="font-size: 8pt" ;=""> <a class="ma" href="/web/20110828124907/http://play-murmansk.ru/board/5-1-0-4251">Прошивка Xbox 360 Slim</a> </span> <br> <span style="font-size: 7pt" ;=""> 28-08-2011 10:30 от Nik_tc </span> </div>
                                          </li>
                                       </ul>
                                       <ul class="uz">
                                          <li class="menus1">
                                             <div align="left"> <span style="font-size: 8pt" ;=""> <a class="ma" href="/web/20110828124907/http://play-murmansk.ru/board/1-1-0-4278">Samsung i9003 Super LCD 16gb</a> </span> <br> <span style="font-size: 7pt" ;=""> 28-08-2011 00:43 от bati </span> </div>
                                          </li>
                                       </ul>
                                       <ul class="uz">
                                          <li class="menus1">
                                             <div align="left"> <span style="font-size: 8pt" ;=""> <a class="ma" href="/web/20110828124907/http://play-murmansk.ru/news/2011-08-26-1774">Представлена игра Quantum Conundrum</a> </span> <br> <span style="font-size: 7pt" ;=""> 27-08-2011 18:56 от Roons </span> </div>
                                          </li>
                                       </ul>
                                       <ul class="uz">
                                          <li class="menus1">
                                             <div align="left"> <span style="font-size: 8pt" ;=""> <a class="ma" href="/web/20110828124907/http://play-murmansk.ru/news/2011-08-26-1773">Новый комплект Xbox 360 с пятью играми</a> </span> <br> <span style="font-size: 7pt" ;=""> 27-08-2011 18:56 от Roons </span> </div>
                                          </li>
                                       </ul>
                                       <ul class="uz">
                                          <li class="menus1">
                                             <div align="left"> <span style="font-size: 8pt" ;=""> <a class="ma" href="/web/20110828124907/http://play-murmansk.ru/news/2011-08-26-1774">Представлена игра Quantum Conundrum</a> </span> <br> <span style="font-size: 7pt" ;=""> 27-08-2011 17:00 от (o)ne </span> </div>
                                          </li>
                                       </ul>
                                       <ul class="uz">
                                          <li class="menus1">
                                             <div align="left"> <span style="font-size: 8pt" ;=""> <a class="ma" href="/web/20110828124907/http://play-murmansk.ru/news/2011-08-26-1774">Представлена игра Quantum Conundrum</a> </span> <br> <span style="font-size: 7pt" ;=""> 27-08-2011 16:54 от Roons </span> </div>
                                          </li>
                                       </ul>
                                       <ul class="uz">
                                          <li class="menus1">
                                             <div align="left"> <span style="font-size: 8pt" ;=""> <a class="ma" href="/web/20110828124907/http://play-murmansk.ru/news/2011-08-26-1774">Представлена игра Quantum Conundrum</a> </span> <br> <span style="font-size: 7pt" ;=""> 27-08-2011 14:53 от play </span> </div>
                                          </li>
                                       </ul>
                                       <ul class="uz">
                                          <li class="menus1">
                                             <div align="left"> <span style="font-size: 8pt" ;=""> <a class="ma" href="/web/20110828124907/http://play-murmansk.ru/board/1-1-0-4276">Срочно продам</a> </span> <br> <span style="font-size: 7pt" ;=""> 27-08-2011 14:50 от dss2003 </span> </div>
                                          </li>
                                       </ul>
                                       <ul class="uz">
                                          <li class="menus1">
                                             <div align="left"> <span style="font-size: 8pt" ;=""> <a class="ma" href="/web/20110828124907/http://play-murmansk.ru/board/1-1-0-4276">Срочно продам</a> </span> <br> <span style="font-size: 7pt" ;=""> 27-08-2011 14:50 от play </span> </div>
                                          </li>
                                       </ul>
                                       <ul class="uz">
                                          <li class="menus1">
                                             <div align="left"> <span style="font-size: 8pt" ;=""> <a class="ma" href="/web/20110828124907/http://play-murmansk.ru/board/1-1-0-4276">Срочно продам</a> </span> <br> <span style="font-size: 7pt" ;=""> 27-08-2011 12:20 от Sany92 </span> </div>
                                          </li>
                                       </ul>
                                       <ul class="uz">
                                          <li class="menus1">
                                             <div align="left"> <span style="font-size: 8pt" ;=""> <a class="ma" href="/web/20110828124907/http://play-murmansk.ru/news/2011-08-26-1774">Представлена игра Quantum Conundrum</a> </span> <br> <span style="font-size: 7pt" ;=""> 27-08-2011 11:41 от Roons </span> </div>
                                          </li>
                                       </ul>
                                       <ul class="uz">
                                          <li class="menus1">
                                             <div align="left"> <span style="font-size: 8pt" ;=""> <a class="ma" href="/web/20110828124907/http://play-murmansk.ru/board/1-1-0-4232">Nintendo DS Lite</a> </span> <br> <span style="font-size: 7pt" ;=""> 27-08-2011 04:14 от Kart </span> </div>
                                          </li>
                                       </ul>
                                       <ul class="uz">
                                          <li class="menus1">
                                             <div align="left"> <span style="font-size: 8pt" ;=""> <a class="ma" href="/web/20110828124907/http://play-murmansk.ru/board/1-1-0-4232">Nintendo DS Lite</a> </span> <br> <span style="font-size: 7pt" ;=""> 27-08-2011 04:14 от Kart </span> </div>
                                          </li>
                                       </ul>
                                       <ul class="uz">
                                          <li class="menus1">
                                             <div align="left"> <span style="font-size: 8pt" ;=""> <a class="ma" href="/web/20110828124907/http://play-murmansk.ru/board/1-1-0-4276">Срочно продам</a> </span> <br> <span style="font-size: 7pt" ;=""> 27-08-2011 00:38 от DevilYamamoto </span> </div>
                                          </li>
                                       </ul>
                                       <ul class="uz">
                                          <li class="menus1">
                                             <div align="left"> <span style="font-size: 8pt" ;=""> <a class="ma" href="/web/20110828124907/http://play-murmansk.ru/board/1-1-0-4199">Продам смартфон Nokia C6-00</a> </span> <br> <span style="font-size: 7pt" ;=""> 26-08-2011 22:39 от adyard1996 </span> </div>
                                          </li>
                                       </ul>
                                       <ul class="uz">
                                          <li class="menus1">
                                             <div align="left"> <span style="font-size: 8pt" ;=""> <a class="ma" href="/web/20110828124907/http://play-murmansk.ru/board/1-1-0-4200">Assassins creed II на Xbox</a> </span> <br> <span style="font-size: 7pt" ;=""> 26-08-2011 22:37 от adyard1996 </span> </div>
                                          </li>
                                       </ul>
                                       <ul class="uz">
                                          <li class="menus1">
                                             <div align="left"> <span style="font-size: 8pt" ;=""> <a class="ma" href="/web/20110828124907/http://play-murmansk.ru/news/2011-08-26-1774">Представлена игра Quantum Conundrum</a> </span> <br> <span style="font-size: 7pt" ;=""> 26-08-2011 21:48 от play </span> </div>
                                          </li>
                                       </ul>
                                    </div>
                                 </td>
                              </tr>
                           </tbody>
                        </table>
                        <table border="0" cellpadding="0" cellspacing="0" class="boxTable">
                           <tbody>
                              <tr>
                                 <td class="boxContent">
                                    <div class="boxText">
                                       <a href="20110828124907/http://www.facebook.com/pages/Play-murmansk/183621118324929"><img src="20110828124907im_/http://s005.radikal.ru/i209/1101/0b/b4336b8a5ec3.jpg" border="none" width="200"></a>
                                       <br>
                                    </div>
                                 </td>
                              </tr>
                           </tbody>
                        </table>
                        <table border="0" cellpadding="0" cellspacing="0" class="boxTable">
                           <tbody>
                              <tr>
                                 <td class="boxTitle"><b>Последние Объявления</b></td>
                              </tr>
                              <tr>
                                 <td class="boxContent">
                                    <div class="boxText">
                                       <ul class="uz">
                                          <li class="menus2">
                                             <table border="0" cellpadding="2" cellspacing="1" width="100%" class="infTable">
                                                <tbody>
                                                   <tr>
                                                      <td class="infTitle" colspan="2"> <span style="font-size: 7pt" ;=""> ПРОДАМ от Zubrus </span>  <br> <a class="ma" href="20110828124907/http://play-murmansk.ru/board/">Sony Ericsson Vivaz 5000 руб.</a></td>
                                                   </tr>
                                                </tbody>
                                             </table>
                                          </li>
                                       </ul>
                                       <ul class="uz">
                                          <li class="menus2">
                                             <table border="0" cellpadding="2" cellspacing="1" width="100%" class="infTable">
                                                <tbody>
                                                   <tr>
                                                      <td class="infTitle" colspan="2"> <span style="font-size: 7pt" ;=""> ПРОДАМ от SHOPENGAUER </span>  <br> <a class="ma" href="20110828124907/http://play-murmansk.ru/board/">Tekken 6</a></td>
                                                   </tr>
                                                </tbody>
                                             </table>
                                          </li>
                                       </ul>
                                       <ul class="uz">
                                          <li class="menus2">
                                             <table border="0" cellpadding="2" cellspacing="1" width="100%" class="infTable">
                                                <tbody>
                                                   <tr>
                                                      <td class="infTitle" colspan="2"> <span style="font-size: 7pt" ;=""> ПРОДАМ от Zubrus </span>  <br> <a class="ma" href="20110828124907/http://play-murmansk.ru/board/">СВ-радиостанция Megajet MJ 600 + антенна 3500 руб.</a></td>
                                                   </tr>
                                                </tbody>
                                             </table>
                                          </li>
                                       </ul>
                                       <ul class="uz">
                                          <li class="menus2">
                                             <table border="0" cellpadding="2" cellspacing="1" width="100%" class="infTable">
                                                <tbody>
                                                   <tr>
                                                      <td class="infTitle" colspan="2"> <span style="font-size: 7pt" ;=""> ПРОДАМ от Makson4uk </span>  <br> <a class="ma" href="20110828124907/http://play-murmansk.ru/board/">Продам Sony PSP 1004</a></td>
                                                   </tr>
                                                </tbody>
                                             </table>
                                          </li>
                                       </ul>
                                       <ul class="uz">
                                          <li class="menus2">
                                             <table border="0" cellpadding="2" cellspacing="1" width="100%" class="infTable">
                                                <tbody>
                                                   <tr>
                                                      <td class="infTitle" colspan="2"> <span style="font-size: 7pt" ;=""> ПРОДАМ от REDS </span>  <br> <a class="ma" href="20110828124907/http://play-murmansk.ru/board/">Samsung i9003 Super LCD 16gb</a></td>
                                                   </tr>
                                                </tbody>
                                             </table>
                                          </li>
                                       </ul>
                                       <ul class="uz">
                                          <li class="menus2">
                                             <table border="0" cellpadding="2" cellspacing="1" width="100%" class="infTable">
                                                <tbody>
                                                   <tr>
                                                      <td class="infTitle" colspan="2"> <span style="font-size: 7pt" ;=""> КУПЛЮ от atikin51 </span>  <br> <a class="ma" href="20110828124907/http://play-murmansk.ru/board/">Куплю геймпад x box 360</a></td>
                                                   </tr>
                                                </tbody>
                                             </table>
                                          </li>
                                       </ul>
                                       <ul class="uz">
                                          <li class="menus2">
                                             <table border="0" cellpadding="2" cellspacing="1" width="100%" class="infTable">
                                                <tbody>
                                                   <tr>
                                                      <td class="infTitle" colspan="2"> <span style="font-size: 7pt" ;=""> ПРОДАМ от DevilYamamoto </span>  <br> <a class="ma" href="20110828124907/http://play-murmansk.ru/board/">Срочно продам</a></td>
                                                   </tr>
                                                </tbody>
                                             </table>
                                          </li>
                                       </ul>
                                       <ul class="uz">
                                          <li class="menus2">
                                             <table border="0" cellpadding="2" cellspacing="1" width="100%" class="infTable">
                                                <tbody>
                                                   <tr>
                                                      <td class="infTitle" colspan="2"> <span style="font-size: 7pt" ;=""> ПРОДАМ от Xboxer </span>  <br> <a class="ma" href="20110828124907/http://play-murmansk.ru/board/">или обменяю лицензионные игры (Xbox 360)</a></td>
                                                   </tr>
                                                </tbody>
                                             </table>
                                          </li>
                                       </ul>
                                       <ul class="uz">
                                          <li class="menus2">
                                             <table border="0" cellpadding="2" cellspacing="1" width="100%" class="infTable">
                                                <tbody>
                                                   <tr>
                                                      <td class="infTitle" colspan="2"> <span style="font-size: 7pt" ;=""> КУПЛЮ от qwdragg </span>  <br> <a class="ma" href="20110828124907/http://play-murmansk.ru/board/">Iphone 3g/gs</a></td>
                                                   </tr>
                                                </tbody>
                                             </table>
                                          </li>
                                       </ul>
                                       <ul class="uz">
                                          <li class="menus2">
                                             <table border="0" cellpadding="2" cellspacing="1" width="100%" class="infTable">
                                                <tbody>
                                                   <tr>
                                                      <td class="infTitle" colspan="2"> <span style="font-size: 7pt" ;=""> ПРОДАМ от AtaMan </span>  <br> <a class="ma" href="20110828124907/http://play-murmansk.ru/board/">Продам XBOX 360 S</a></td>
                                                   </tr>
                                                </tbody>
                                             </table>
                                          </li>
                                       </ul>
                                    </div>
                                    <div align="center"><a class="m" href="20110828124907/http://play-murmansk.ru/board/"><span style="color:#CC6600">[Все Объявления]</span></a></div>
                                 </td>
                              </tr>
                           </tbody>
                        </table>
                        <table border="0" cellpadding="0" cellspacing="0" class="boxTable">
                           <tbody>
                              <tr>
                                 <td class="boxTitle">
                                    <b>
                                       Последние Отзывы
                                       <blink></blink>
                                    </b>
                                 </td>
                              </tr>
                              <tr>
                                 <td class="boxContent">
                                    <div class="boxText">
                                       <ul class="uz">
                                          <li class="menus">
                                             <div align="left"><a class="ma" href="/web/20110828124907/http://play-murmansk.ru/blog/2011-08-08-63">Magic: the Gathering - Duel of the Plainswalkers 2012</a> от Plague<br>  </div>
                                          </li>
                                       </ul>
                                       <ul class="uz">
                                          <li class="menus">
                                             <div align="left"><a class="ma" href="/web/20110828124907/http://play-murmansk.ru/blog/2011-08-02-62">Alan Wake</a> от Gashi4ok<br>  </div>
                                          </li>
                                       </ul>
                                       <ul class="uz">
                                          <li class="menus">
                                             <div align="left"><a class="ma" href="/web/20110828124907/http://play-murmansk.ru/blog/2011-08-01-61">Fable 2</a> от Gashi4ok<br>  </div>
                                          </li>
                                       </ul>
                                       <ul class="uz">
                                          <li class="menus">
                                             <div align="left"><a class="ma" href="/web/20110828124907/http://play-murmansk.ru/blog/2011-07-01-60">Halo:Reach</a> от Gashi4ok<br>  </div>
                                          </li>
                                       </ul>
                                       <ul class="uz">
                                          <li class="menus">
                                             <div align="left"><a class="ma" href="/web/20110828124907/http://play-murmansk.ru/blog/2011-02-25-59">Gran Turismo 5. И этим всё сказано...</a> от DevilYamamoto<br>  </div>
                                          </li>
                                       </ul>
                                       <ul class="uz">
                                          <li class="menus">
                                             <div align="left"><a class="ma" href="/web/20110828124907/http://play-murmansk.ru/blog/2010-10-12-58">Siren: New Translation</a> от Rastafari_Man<br>  </div>
                                          </li>
                                       </ul>
                                       <ul class="uz">
                                          <li class="menus">
                                             <div align="left"><a class="ma" href="/web/20110828124907/http://play-murmansk.ru/blog/2010-05-03-55">White Knight Chronicles</a> от Kart<br>  </div>
                                          </li>
                                       </ul>
                                    </div>
                                    <div align="center"><a class="m" href="20110828124907/http://play-murmansk.ru/blog/"><span style="color:#CC6600">[Все Отзывы]</span></a></div>
                                 </td>
                              </tr>
                           </tbody>
                        </table>
                        <table border="0" cellpadding="0" cellspacing="0" class="boxTable">
                           <tbody>
                              <tr>
                                 <td class="boxTitle"><b>Нарушаем Тишину</b></td>
                              </tr>
                              <tr>
                                 <td class="boxContent">
                                    <div class="boxText">
                                       <div align="center">
                                          <span style="font-size: 7pt" ;="">
                                          Плеер с Музыкой<br>
                                          Откроется в Маленьком Окошке<br><br>
                                          <a href="#" onclick="openWindow()"><img src="20110828124907im_/http://play-murmansk.ru/DESIGN/player.jpg" border="none"></a>
                                          <br>
                                          <br>
                                          </span>
                                          <a class="m" href="20110828124907/http://play-murmansk.ru/forum/7-118-1"><span style="color:#CC6600">[Иногда даже меняю пластинки]</span></a>
                                       </div>
                                    </div>
                                 </td>
                              </tr>
                           </tbody>
                        </table>
                        <!--/U1CLEFTER1Z-->
                     </td>
                     <td valign="top" style="padding:0px 10px 0px 10px;">
                        {% block content %}
                       {% endblock %}
                     </td>
                  </tr>
               </tbody>
            </table>
            <!-- /Body -->
         </div>
         <!-- Footer -->
         <!--U1BFOOTER1Z-->
         <table border="0" cellpadding="10px" cellspacing="0" width="100%" id="footer">
            <tbody>
               <tr>
                  <td align="right" valign="bottom"></td>
                  <td width="780" align="center" valign="center"><a class="m" href="">-</a> © <a class="m" href="20110828124907/http://play-murmansk.ru/">play-murmansk.ru</a> 2009-2011 | <a class="m" href="20110828124907/http://play-murmansk.ru/index/0-2">Связь с владельцем ресурса</a> -</td>
                  <td align="left" valign="bottom">
                     <!-- "' --><span class="pboCYPVr"><a href=""><img style="margin:0;padding:0;border:0;width:80px;height:15px;" src="20110828124907im_/http://s28.ucoz.net/img/cp/21.gif" alt="Создать сайт бесплатно" title="Создать сайт бесплатно"></a></span>
                  </td>
               </tr>
            </tbody>
         </table>
      </div>
   </body>
</html>