{% load static %}
<html>
   <head>
      <link rel="stylesheet" type="text/css" href="{% static 'css/banner-styles.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'css/iconochive.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'css/layer3.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'css/my.css' %}">
      <title>{% block title %}{% endblock %}</title>
   </head>
   <body>
      <div id="contanier">
         <div id="topBlock">
            <table border="0" cellpadding="0" cellspacing="0" id="topTable" align="center">
               <tbody>
                  <tr>
                     <td class="dataBar"></td>
                  </tr>
                  <tr>
                     <td>
                        <div class="logoBar">
                           <a href="20110828124907/http://play-murmansk.ru/">
                           <img src="{% static 'images/1px.gif' %}" width="1000" height="150" border="0" title="Содружество пользователей игровых консолей" alt="Содружество пользователей игровых консолей"></a>
                        </div>
                     </td>
                  </tr>
                  <!-- -->
                  <tr>
                     <td class="navBar">
                        <style>
                           /* common styling */
                           .menu {font: "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, arial, sans-serif; width:975px; height:29px; position:relative; font-size:11px; font-weight:bold; z-index:100;}
                           .menu ul li a, .menu ul li a:visited {display:block; text-decoration:none; color:#000; width:161px; height:27px; text-align:center; color:#ccc;
                           border-left:0px solid #000;
                           border-right:0px solid #000;
                           border-bottom:3px solid #BF3A00;
                           background:none; line-height:25px; font-size:11px; overflow:hidden;}
                           .menu ul {padding:0; margin:0; list-style: none;}
                           .menu ul li {float:left; position:relative;}
                           .menu ul li ul {display: none;}
                           /* specific to non IE browsers */
                           .menu ul li:hover a {color:#fff; background:#BF3A00;}
                           .menu ul li:hover ul {display:block; position:absolute; top:30px; left:0; width:160px;}
                           .menu ul li:hover ul li a.hide {background:#6a3; color:#fff;}
                           .menu ul li:hover ul li:hover a.hide {background:#6fc; color:#000;}
                           .menu ul li:hover ul li ul {display: none;}
                           .menu ul li:hover ul li a {display:block; background:#ddd; color:#000;}
                           .menu ul li:hover ul li a:hover {background:#BF3A00; color:#000;}
                           .menu ul li:hover ul li:hover ul {display:block; position:absolute; left:105px; top:0;}
                           .menu ul li:hover ul li:hover ul.left {left:-105px;}
                        </style>
                        <div align="center">
                           <div class="menu">
                              <ul>
                                 <li><a href="20110828124907/http://play-murmansk.ru/" target="_self">Главная</a></li>
                                 <li><a href="/web/20110828124907/http://play-murmansk.ru/forum/" target="_self">Форум</a></li>
                                 <li><a href="/web/20110828124907/http://play-murmansk.ru/board/" target="_self">Объявления</a></li>
                                 <li><a href="/web/20110828124907/http://play-murmansk.ru/blog/" target="_self">Отзывы Об Играх</a></li>
                                 <li>
                                    <a>Кое-что Еще...</a>
                                    <ul>
                                       <li><a href="/web/20110828124907/http://play-murmansk.ru/photo/" target="_self">Фотоальбом</a></li>
                                       <li><a href="/web/20110828124907/http://play-murmansk.ru/dir/" target="_self">Полезные Ссылки</a></li>
                                       <li><a href="/web/20110828124907/http://play-murmansk.ru/publ/" target="_self">Полезные Статьи</a></li>
                                       <li><a href="20110828124907/http://play-murmansk.ru/news/rss/">RSS раздела</a></li>
                                    </ul>
                                 </li>
                                 <li><a href="20110828124907/http://play-murmansk.ru/index/3">Регистрация</a></li>
                              </ul>
                           </div>
                        </div>
                     </td>
                  </tr>
                  <!--
                     -->
               </tbody>
            </table>
            <!--/U1AHEADER1Z-->
            <!-- /Header -->
         </div>
         <div id="centerBlock1">
            <!-- Body -->
            <table border="0" cellpadding="0" cellspacing="0" width="1000px" align="center">
               <tbody>
                  <tr>
                     <td valign="top" class="column">
                        <!--U1CLEFTER1Z--><!-- <block10> -->
                        <table border="0" cellpadding="0" cellspacing="0" class="boxTable"></table>
                        <table border="0" cellpadding="0" cellspacing="0" class="boxTable">
                           <tbody>
                              <tr>
                                 <td class="boxTitle"><b>Добро пожаловать!</b></td>
                              </tr>
                              <tr>
                                 <td class="boxContent">
                                    <div class="boxText">
                                       <!-- <bc> -->
                                       <div id="blk549174" style="border:1px solid #CCCCCC;position:absolute;z-index:82;background:url('20110828124907im_/http://s28.ucoz.net/img/fr/g.gif');display:none;"></div>
                                       <form id="frmLg549174" action="/web/20110828124907/http://play-murmansk.ru/index/sub/" method="post" style="margin:0" onsubmit="sendFrm549174();return false;">
                                          <table border="0" cellspacing="1" cellpadding="0" width="100%">
                                             <tbody>
                                                <tr>
                                                   <td width="20%" nowrap="nowrap">Логин:</td>
                                                   <td><input class="loginField" type="text" name="user" value="" size="20" style="width:100%;" maxlength="50"></td>
                                                </tr>
                                                <tr>
                                                   <td>Пароль:</td>
                                                   <td><input class="loginField" type="password" name="password" size="20" style="width:100%" maxlength="15"></td>
                                                </tr>
                                             </tbody>
                                          </table>
                                          <table border="0" cellspacing="1" cellpadding="0" width="100%">
                                             <tbody>
                                                <tr>
                                                   <td nowrap=""><input id="remsitePage1" type="checkbox" name="rem" value="1" checked=""><label for="remsitePage1">запомнить</label> </td>
                                                   <td align="right" valign="top"><input class="loginButton" name="sbm" type="submit" value="Вход"></td>
                                                </tr>
                                                <tr>
                                                   <td colspan="2">
                                                      <div style="font-size:7pt;text-align:center;"><a class="m" href="javascript://" rel="nofollow" onclick="new _uWnd('Prm','Напоминание пароля',300,130,{autosize:1,closeonesc:1},{url:'/index/5'});return false;">Забыл пароль</a> · <a class="m" href="20110828124907/http://play-murmansk.ru/index/3">Регистрация</a></div>
                                                   </td>
                                                </tr>
                                             </tbody>
                                          </table>
                                          <input type="hidden" name="a" value="2"><input type="hidden" name="ajax" value="1"><input type="hidden" name="rnd" value="174">
                                       </form>
                                       <!-- </bc> -->
                                    </div>
                                 </td>
                              </tr>
                           </tbody>
                        </table>
                        <table border="0" cellpadding="0" cellspacing="0" class="boxTable">
                           <tbody>
                              <tr>
                                 <td class="boxTitle">
                                    <b>Эй, Кто Здесь?</b>
                                 </td>
                              </tr>
                              <tr>
                                 <td class="boxContent" align="center">
                                    <div class="boxText">
                                       <div class="tOnline" id="onl1">Сейчас на сайте <b>9</b></div>
                                       <div class="gOnline" id="onl2">Гостей <b>2</b></div>
                                       <div class="uOnline" id="onl3">Участников <b>7</b></div>
                                       <a class="groupUser" href="20110828124907/http://play-murmansk.ru/index/8-1127" target="_blank">death</a>, <a class="groupUser" href="20110828124907/http://play-murmansk.ru/index/8-2908" target="_blank">play4</a>, <a class="groupUser" href="20110828124907/http://play-murmansk.ru/index/8-3131" target="_blank">KINGpunk</a>, <a class="groupOther2" href="20110828124907/http://play-murmansk.ru/index/8-41" target="_blank">U1</a>, <a class="groupVerify" href="20110828124907/http://play-murmansk.ru/index/8-2460" target="_blank">misterdonald</a>, <a class="groupUser" href="20110828124907/http://play-murmansk.ru/index/8-2478" target="_blank">look</a>, <a class="groupOther2" href="20110828124907/http://play-murmansk.ru/index/8-2405" target="_blank">Adskiy</a>
                                    </div>
                                 </td>
                              </tr>
                           </tbody>
                        </table>
                        <table border="0" cellpadding="0" cellspacing="0" class="boxTable">
                           <tbody>
                              <tr></tr>
                              <tr>
                                 <td class="boxContent">
                                    <div class="boxText">
                                       <a href="20110828124907/http://play-murmansk.ru/forum/5-312-1"><img src="{% static 'images/alpha_logo.jpg' %}" border="none" width="200"></a><br>
                                       <br>
                                       <a href="20110828124907/http://play-murmansk.ru/index/0-9"><img src="{% static 'images/a8bfcefc8e87.jpg' %}" border="none" width="200"></a>
                                       <br>
                                    </div>
                                 </td>
                              </tr>
                           </tbody>
                        </table>
                        <table border="0" cellpadding="0" cellspacing="0" class="boxTable">
                           <tbody>
                              <tr>
                                 <td class="boxTitle"><b>Последние Темы Форума</b></td>
                              </tr>
                              <tr>
                                 <td class="boxContent">
                                    <div class="boxText">
                                       {% for forum_topic in latest_forum_topics %}
                                          <ul class="uz">
                                             <li class="menus1">
                                                <div align="left"> <span style="font-size: 8pt" ;="">  <a class="ma" href="/web/20110828124907/http://play-murmansk.ru/forum/25-330-0-17">{{ forum_topic.title }}</a> </span> <br> <span style="font-size: 7pt" ;=""> {{ forum_topic.created_at }} от <a class="uLPost" href="/web/20110828124907/http://play-murmansk.ru/index/8-0-%28o%29ne" target="_blank">{{ forum_topic.author }}</a> </span> </div>
                                             </li>
                                          </ul>
                                       {% endfor %}
                                    </div>
                                    <div align="center"><a class="m" href="20110828124907/http://play-murmansk.ru/forum/0-0-1-34"><span style="color:#CC6600">[Последние Темы Форума]</span></a></div>
                                 </td>
                              </tr>
                           </tbody>
                        </table>
                        <table border="0" cellpadding="0" cellspacing="0" class="boxTable">
                           <tbody>
                              <tr>
                                 <td class="boxTitle"><b>Ждем и Верим</b></td>
                              </tr>
                              <tr>
                                 <td class="boxContent">
                                    <div class="boxText" align="center"><img src="20110828124907im_/http://s59.radikal.ru/i165/1105/31/d4de32798b70.jpg"><br><br><b><span style="color:#CC6600">Call of Duty: Modern Warfare 3</span></b><br>8 ноября 2011 </div>
                                 </td>
                              </tr>
                           </tbody>
                        </table>
                        <table border="0" cellpadding="0" cellspacing="0" class="boxTable">
                           <tbody>
                              <tr>
                                 <td class="boxTitle"><b>Последние Комментарии</b></td>
                              </tr>
                              <tr>
                                 <td class="boxContent">
                                    <div class="boxText">
                                       {% for last_comment in latest_comments %}
                                          <ul class="uz">
                                             <li class="menus1">
                                                <div align="left"> <span style="font-size: 8pt" ;=""> <a class="ma" href="/web/20110828124907/http://play-murmansk.ru/board/2-1-0-4068">{{ last_comment.content_object.title }}</a> </span> <br> <span style="font-size: 7pt" ;=""> {{ last_comment.created_at }} от {{ last_comment.author }} </span> </div>
                                             </li>
                                          </ul>
                                       {% endfor %}
                                    </div>
                                 </td>
                              </tr>
                           </tbody>
                        </table>
                        <table border="0" cellpadding="0" cellspacing="0" class="boxTable">
                           <tbody>
                              <tr>
                                 <td class="boxContent">
                                    <div class="boxText">
                                       <a href="20110828124907/http://www.facebook.com/pages/Play-murmansk/183621118324929"><img src="20110828124907im_/http://s005.radikal.ru/i209/1101/0b/b4336b8a5ec3.jpg" border="none" width="200"></a>
                                       <br>
                                    </div>
                                 </td>
                              </tr>
                           </tbody>
                        </table>
                        <table border="0" cellpadding="0" cellspacing="0" class="boxTable">
                           <tbody>
                              <tr>
                                 <td class="boxTitle"><b>Последние Объявления</b></td>
                              </tr>
                              <tr>
                                 <td class="boxContent">
                                    <div class="boxText">
                                       {% for ad in latest_ads %}
                                       <ul class="uz">
                                          <li class="menus2">
                                             <table border="0" cellpadding="2" cellspacing="1" width="100%" class="infTable">
                                                <tbody>
                                                   <tr>
                                                      <td class="infTitle" colspan="2"> <span style="font-size: 7pt" ;=""> {{ ad.category }} от {{ ad.author }} </span>  <br> <a class="ma" href="20110828124907/http://play-murmansk.ru/board/">{{ ad.title }}</a></td>
                                                   </tr>
                                                </tbody>
                                             </table>
                                          </li>
                                       </ul>
                                       {% endfor %}
                                    </div>
                                    <div align="center"><a class="m" href="20110828124907/http://play-murmansk.ru/board/"><span style="color:#CC6600">[Все Объявления]</span></a></div>
                                 </td>
                              </tr>
                           </tbody>
                        </table>
                        <table border="0" cellpadding="0" cellspacing="0" class="boxTable">
                           <tbody>
                              <tr>
                                 <td class="boxTitle">
                                    <b>
                                       Последние Отзывы
                                       <blink></blink>
                                    </b>
                                 </td>
                              </tr>
                              <tr>
                                 <td class="boxContent">
                                    <div class="boxText">
                                       {% for review in latest_reviews %}
                                          <ul class="uz">
                                             <li class="menus">
                                                <div align="left"><a class="ma" href="/web/20110828124907/http://play-murmansk.ru/blog/2011-08-08-63">{{ review.title }}</a> от {{ review.author }}<br>  </div>
                                             </li>
                                          </ul>
                                       {% endfor %}
                                    </div>
                                    <div align="center"><a class="m" href="20110828124907/http://play-murmansk.ru/blog/"><span style="color:#CC6600">[Все Отзывы]</span></a></div>
                                 </td>
                              </tr>
                           </tbody>
                        </table>
                        <table border="0" cellpadding="0" cellspacing="0" class="boxTable">
                           <tbody>
                              <tr>
                                 <td class="boxTitle"><b>Нарушаем Тишину</b></td>
                              </tr>
                              <tr>
                                 <td class="boxContent">
                                    <div class="boxText">
                                       <div align="center">
                                          <span style="font-size: 7pt" ;="">
                                          Плеер с Музыкой<br>
                                          Откроется в Маленьком Окошке<br><br>
                                          <a href="#" onclick="openWindow()"><img src="20110828124907im_/http://play-murmansk.ru/DESIGN/player.jpg" border="none"></a>
                                          <br>
                                          <br>
                                          </span>
                                          <a class="m" href="20110828124907/http://play-murmansk.ru/forum/7-118-1"><span style="color:#CC6600">[Иногда даже меняю пластинки]</span></a>
                                       </div>
                                    </div>
                                 </td>
                              </tr>
                           </tbody>
                        </table>
                        <!--/U1CLEFTER1Z-->
                     </td>
                     <td valign="top" style="padding:0px 10px 0px 10px;">
                        {% block content %}
                       {% endblock %}
                     </td>
                  </tr>
               </tbody>
            </table>
            <!-- /Body -->
         </div>
         <!-- Footer -->
         <!--U1BFOOTER1Z-->
         <table border="0" cellpadding="10px" cellspacing="0" width="100%" id="footer">
            <tbody>
               <tr>
                  <td align="right" valign="bottom"></td>
                  <td width="780" align="center" valign="center"><a class="m" href="">-</a> © <a class="m" href="20110828124907/http://play-murmansk.ru/">play-murmansk.ru</a> 2009-2011 | <a class="m" href="20110828124907/http://play-murmansk.ru/index/0-2">Связь с владельцем ресурса</a> -</td>
                  <td align="left" valign="bottom">
                     <!-- "' --><span class="pboCYPVr"><a href=""><img style="margin:0;padding:0;border:0;width:80px;height:15px;" src="20110828124907im_/http://s28.ucoz.net/img/cp/21.gif" alt="Создать сайт бесплатно" title="Создать сайт бесплатно"></a></span>
                  </td>
               </tr>
            </tbody>
         </table>
      </div>
   </body>
</html>