{% extends "index.html" %}
{% load static %}
{% block center %}
<div id="centerBlock1">
    <!-- Body -->
    <table border="0" cellpadding="0" height="30" cellspacing="0" width="1000px" align="center">
        <tbody>
            <tr>
                <td valign="top" style="padding: 0px 5px 0px 5px;">
                                <h2>Аутентификация</h2>
                                <form method="post">
                                    {% csrf_token %}
                                    {{ form.as_p }}
                                    <button type="submit">Войти</button>
                                </form>

                            </tbody>
                        </table>
</div>

{% endblock %}